*{
    font-family: arial;
}

body{
    margin: 0;
}

.header{
    display: flex;
    background-color: #1F2937;
    height: 75px;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
}

li{
    display: inline;
    padding: 0 15px;
}

#logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}