*{
    font-family: arial;
    color: white;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    background-color: #1F2937;
    height: 75px;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 330px;
}

.hero{
    display: flex;
    box-sizing: border-box;
    background-color: #1F2937;
    height: 600px;
    padding: 100px 330px;
    justify-content: center;
    gap: 70px;
}

.hero-text{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero-text1{
    font-size: 48px;
    font-weight: 800;
    margin: 0;
}

.hero-text2{
    font-size: 18px;
}

.hero-button{
    background-color: #3882F6;
    border-style: none;
    border-radius: 5px;
    padding: 10px 30px;
    font-weight: bold;
}

.hero-img{
    flex: 1;
}



li{
    display: inline;
    padding: 0 15px;
}

#logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.footer{
    background-color: #1F2937;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}