*{
    font-family: arial;
    color: white;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    background-color: #1F2937;
    height: 75px;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
}

.hero{
    display: flex;
    box-sizing: border-box;
    background-color: #1F2937;
    height: 600px;
    padding: 100px 150px;
    justify-content: center;
}

li{
    display: inline;
    padding: 0 15px;
}

#logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.footer{
    background-color: #1F2937;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}