body{
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    font-family: arial;
    background-color: #1F2937;
    height: 75px;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 330px;
}

.hero{
    color: white;
    font-family: arial;
    display: flex;
    box-sizing: border-box;
    background-color: #1F2937;
    height: 470px;
    padding: 100px 330px;
    justify-content: center;
    gap: 70px;
}

.hero-text{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
}

.hero-text1{
    font-size: 48px;
    font-weight: 800;
    margin: 0;
}

.hero-text2{
    font-size: 18px;
}

.hero-button{
    background-color: #3882F6;
    border-style: none;
    border-radius: 5px;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 18px;
}

.hero-img{
    flex: 1;
}

.random{
    box-sizing: border-box;
    height: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-bottom: 100px;
}

.random-header{
    height: 80px;
    display: flex;
    align-items: flex-end;
    font-size: 36px;
    font-family: arial;
    font-weight: 800;
    color: #1F2937;
}

.random-squares{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.random-square{
    display: flex;
    flex-direction: column;
    width: 150px;
    text-align: center;
    font-size: 18px;
    flex: 1;
}

.square{
    border-style: solid;
    border-color: #3882F6;
    border-width: 6px;
    border-radius: 8px;
    flex: 1;
}

li{
    display: inline;
    padding: 0 15px;
}

#logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.footer{
    background-color: #1F2937;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
